<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <header>
    <div class="headline"><%- include('../partials/img.ejs') %></div>
  </header>

  <main>
    <!-- Game Session Content -->
    <%- include('../partials/game_session.ejs') %>

    <!--Data and statistics-->
    <%- include('../partials/statistics.ejs') %>
  </main>
  <script src="js/game.js" type="text/javascript"></script>
  <script src="js/selector.js" type="text/javascript"></script>
</body>

</html>