<!-- views/partials/game_session.ejs -->
<div class="jumbotron">
  <h1 style="text-align:center" id="timer">Starting...</h1>
  <br />
  <br />
  <!-- Spot for player names-->
  <div class="grid-container">
    <div id="playerA_name" class="grid-item">
      Antti Mäenpää
    </div>
    <div id="playerB_name" class="grid-item">
      Jukka Koivunen
    </div>
  </div>

  <!-- spot for player hand -->
  <div class="grid-container">
    <div id="playerA_hand" class="grid-item">
      <img alt="scissors" src="/img/scissors.PNG" />
    </div>

    <h1 class="versus">VS</h1>

    <div id="playerB_hand" class="grid-item">
      <img alt="scissors" src="/img/scissors.PNG" />
    </div>
  </div>

  <!-- Result of game played -->
  <span class="result" id="result" style="text-align:center">
    Tie!
  </span>

</div>