<!-- views/partials/statistics.ejs -->
<div class="jumbotron">
  <h1 style="text-align:center">Data and Statistics</h1>
  <div class="select">
    <select class="select-filter" id="select-filter">
      <option value="select-history">Game History</option>
      <option value="select-scoreboard">Scoreboard</option>
    </select>
    <br />
  </div>
  <center>
    <div id="data" class="data">
      <div id="table" class="table">
      </div>

      <div id="scoreboard" class="scoreboard">
      </div>
    </div>
  </center>
</div>